body {
  background-color: #fff;
}

h1,
h2,
p,
a { 
  font-family: Raleway, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding-left: 50px;
  padding-right: 50px;
}

.header__links-list {
  margin-right: 36px;
  margin-top: 133px;
  margin-bottom: 138px;
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
} 

.header__link, 
.footer__link,
.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #000;
  text-decoration: none; 
}

.header__link_active,
.footer__link_active,
.footer__menu-link_active {
  text-decoration: none; 
  font-size: 18px;
  border-bottom: none;
}

.header_logo {
  margin-top: 92px;
  margin-bottom: 96px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  margin-top: 95px;
  margin-bottom: 100px;
  line-height: 24px;
}

.header__address {
  justify-self: end;

}

.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-bottom: 180px;
  height: 757px;
}

.overlay {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background: #000; 
  opacity: 0.6; 
  z-index: 1; 
}


.cover__title {
  position: relative;
  padding-top: 165px;
  display: flex;
  flex-direction: column; 
  font-size: 100px;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.3em;
  z-index: 2;
  gap: 16.5px;
}

.aligned-text {
  text-align: left; 
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right; 
  padding-right: 0;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  margin-top: 106px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border-radius: 0;
  box-sizing: border-box;
  border: 1px solid #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  padding: 12px 32px 11px 31px;
}

.lots,
.about {
  margin-left: 24px;
  margin-right: 24px;

}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  padding-left: 40px;
}

.card_link {
  height: 100%;
}


.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
  margin-top: 27px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  height: 596px;
}

article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 2;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  font-size: 20px;
  color: #000;
  margin-left: 40px;
  border-bottom: 1px solid #000;
}

.about {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 334px 718px;
}

.logo-column {
  padding-top: 35px;
  padding-left: 47px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-column {
  padding-top: 136px;
  padding-left: 25px;
}

.about__title {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin-top: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.upper-paragraph-about {
  margin-right: 5px;
}

.footer {
  margin-top: 180px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 140px;

}

.footer__address {
  padding-top: 0;
  margin-top: 0;
  padding-right: 0;
  margin-right: 0;

}

.footer__menu-list {
  list-style: none;
  text-align: center;
  margin-bottom: 115px;
  margin-top: 1px;
  padding-right: 0;
  width: ;
}


.footer__social-list {
  list-style: none;
  padding: 0; 
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
